## Imports

In [1]:
# Basic imports
import pandas as pd
import numpy as np

# Warnings
import warnings 
warnings.simplefilter("ignore")

In [2]:
# Plot
from IPython import display
import seaborn as sns

import matplotlib
import matplotlib.pylab as plt
from jupyterthemes import jtplot

jtplot.style('gruvboxd')
matplotlib.use('nbagg')

## Data Reading

In [3]:
from catboost.datasets import titanic

# Data Reading
df_train, df_test = titanic()
df_train.set_index('PassengerId', inplace=True)
df_test.set_index('PassengerId', inplace=True)

# Split X_train, y_train
target = 'Survived'
features = df_test.columns

y_train = df_train[target]
df_train = df_train[features]

df_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Preprocessing

In [16]:
from robusta.preprocessing.category import *
from robusta.preprocessing.numeric import *
from robusta.preprocessing.base import *
from robusta.pipeline import *

nums = ['Age', 'Fare', 'SibSp', 'Parch']
cats = ['Pclass', 'Sex', 'Embarked']

data_prep = FeatureUnion([
        ("numeric", make_pipeline(
            ColumnSelector(nums),
            Imputer(strategy="median"),
            GaussRank(),
            #ColumnRenamer(prefix='gr_'),
        )),
        ("category", make_pipeline(
            ColumnSelector(cats),
            Imputer(strategy="most_frequent"),
            LabelEncoder(),
            #ColumnRenamer(prefix='le_'),
        )),
])

X_train = data_prep.fit_transform(df_train)
X_test = data_prep.transform(df_test)

X_train.head()

                  Age      Fare     SibSp     Parch  Pclass  Sex  Embarked
PassengerId
1           -0.488867 -0.968076  0.600843 -0.214091       2    1         2
2            0.584412  0.853865  0.600843 -0.214091       0    0         0
3           -0.275357 -0.454031 -0.290348 -0.214091       2    0         2
4            0.470091  0.703973  0.600843 -0.214091       0    0         2
5            0.470091 -0.379298 -0.290348 -0.214091       2    1         2

## Fold Preparation

In [25]:
from sklearn.model_selection import KFold
from robusta.resampler import *

encoder = FeatureUnion([
    ('category', make_pipeline(
        #TypeSelector(['category', 'object']), 
        ColumnSelector(cats),
        TargetEncoderCV(cv=4).set_params(encoder__smoothing=200.0),
    )),
    ('numeric', make_pipeline(
        ColumnSelector(nums),
        Identity(),
    )),
])

resampler = SMOTE(random_state=50, k_neighbors=30)

fold_pipe = make_pipeline(resampler, encoder)

F_train = fold_pipe.fit_transform(X_train, y_train)

F_train.sample(5, random_state=555)

     Embarked  Pclass  Sex       Age      Fare     SibSp     Parch
928       2.0     0.0  0.0  0.491782  1.040380  0.600843 -0.214091
873       2.0     2.0  1.0  0.888832 -0.271711 -0.290348 -0.214091
293       2.0     2.0  0.0 -0.381808 -0.274934 -0.290348 -0.214091
760       2.0     2.0  1.0 -0.013926  0.016949 -0.290348 -0.214091
126       1.0     2.0  1.0 -0.013926 -0.770943 -0.290348 -0.214091

## Model

In [26]:
%%time
from lightgbm import LGBMClassifier

model = LGBMClassifier()
model.fit(X_train, y_train)

CPU times: user 433 ms, sys: 21 ms, total: 454 ms
Wall time: 66.8 ms

In [27]:
from sklearn.model_selection import cross_val_score

cv = 5
scoring = 'accuracy'

estimator = make_pipeline(model)
scores = cross_val_score(estimator, X_train, y_train, cv=cv, scoring=scoring)
print('{:.4f} ± {:.4f} [model]'.format(np.mean(scores), np.std(scores)))

estimator = make_pipeline(encoder, model)
scores = cross_val_score(estimator, X_train, y_train, cv=cv, scoring=scoring)
print('{:.4f} ± {:.4f} [resampler + model]'.format(np.mean(scores), np.std(scores)))

estimator = make_pipeline(resampler, model)
scores = cross_val_score(estimator, X_train, y_train, cv=cv, scoring=scoring)
print('{:.4f} ± {:.4f} [encoder + model]'.format(np.mean(scores), np.std(scores)))

# 0.8216 ± 0.0370 (model)
# 0.8261 ± 0.0336 (resampler + model)
# 0.8249 ± 0.0320 (encoder + model)

0.8317 ± 0.0303 [model]
0.8317 ± 0.0303 [resampler + model]
0.8194 ± 0.0261 [encoder + model]

In [28]:
estimator = make_pipeline(encoder, model)

## Submit (Out-of-Fold & Test Predictions)

In [29]:
%%time
from robusta.crossval import cross_val_pred

y_oof, y_sub = cross_val_pred(estimator, cv, X_train, y_train, None, X_test, test_avg=False)

CPU times: user 16.5 s, sys: 2.81 s, total: 19.3 s
Wall time: 4.8 s

In [30]:
import os

path = os.path.join(os.getcwd(), 'pred')
if not os.path.exists(path):
    os.mkdir(path)

sub_path = os.path.join(path, '0 sub baseline.csv')
oof_path = os.path.join(path, '0 oof baseline.csv')

y_sub.to_csv(sub_path, header=True)
y_oof.to_csv(oof_path, header=True)

### Score:
### `[CV] 0.8249 ± 0.0314`
### `[LB] 0.7656`

In [31]:
from xgboost import XGBClassifier, XGBRanker
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from rgf import RGFClassifier, RGFRegressor

xgb = XGBClassifier()
lgb = LGBMClassifier()
#cat = CatBoostClassifier(n_estimators=100, verbose=0)
rgf = RGFClassifier()

In [33]:
#%%time
from robusta.crossval import stacking

y_oof, y_sub = stacking([xgb, lgb, rgf, estimator], 
                        cv, X_train, y_train, None, X_test, test_avg=False, 
                        method='predict_proba')

y_sub

                  XGB      LGBM       RGF      LGBM
PassengerId
892          0.068030  0.008663  0.054003  0.008663
893          0.152440  0.068510  0.236350  0.068510
894          0.074515  0.118151  0.088207  0.118151
895          0.185541  0.533763  0.165103  0.533763
896          0.416402  0.333417  0.488737  0.333417
897          0.433740  0.565023  0.386002  0.565023
898          0.589998  0.120653  0.396470  0.120653
899          0.155922  0.184680  0.156049  0.184680
900          0.767893  0.908908  0.789177  0.908908
901          0.040767  0.011030  0.013362  0.011030
902          0.166280  0.272197  0.151353  0.272197
903          0.189330  0.244395  0.263742  0.244395
904          0.956575  0.971205  0.943620  0.971205
905          0.070661  0.033833  0.071446  0.033833
906          0.953956  0.995474  0.975364  0.995474
907          0.909884  0.961353  0.906602  0.961353
908          0.140338  0.030618  0.173742  0.030618
909          0.173806  0.115222  0.220499  0.115222
910          0.641321  0.307700  0.704403  0.307700
911          0.374992  0.144840  0.355968  0.144840
912          0.306201  0.312900  0.426529  0.312900
913          0.883969  0.918534  0.566046  0.918534
914          0.962546  0.999102  0.983330  0.999102
915          0.691235  0.869737  0.683189  0.869737
916          0.952777  0.980002  0.957059  0.980002
917          0.068230  0.010008  0.041470  0.010008
918          0.983306  0.999551  0.991132  0.999551
919          0.173806  0.108572  0.242108  0.108572
920          0.517466  0.770826  0.535288  0.770826
921          0.127426  0.022850  0.093966  0.022850
...               ...       ...       ...       ...
1280         0.122559  0.062203  0.136377  0.062203
1281         0.271982  0.165195  0.284381  0.165195
1282         0.351285  0.047169  0.251913  0.047169
1283         0.951265  0.995049  0.922138  0.995049
1284         0.697219  0.851678  0.686324  0.851678
1285         0.081791  0.089727  0.097697  0.089727
1286         0.077988  0.005756  0.023387  0.005756
1287         0.971475  0.989446  0.977636  0.989446
1288         0.122559  0.312135  0.160202  0.312135
1289         0.980426  0.996979  0.969989  0.996979
1290         0.096638  0.308042  0.123919  0.308042
1291         0.093599  0.005542  0.091595  0.005542
1292         0.986147  0.997251  0.986898  0.997251
1293         0.085027  0.003269  0.108498  0.003269
1294         0.981751  0.999583  0.991132  0.999583
1295         0.253969  0.017037  0.252030  0.017037
1296         0.309786  0.173989  0.225561  0.173989
1297         0.195692  0.304073  0.285409  0.304073
1298         0.085011  0.004331  0.030609  0.004331
1299         0.305745  0.225991  0.344379  0.225991
1300         0.656637  0.414501  0.535290  0.414501
1301         0.826505  0.947404  0.840110  0.947404
1302         0.722652  0.742184  0.718655  0.742184
1303         0.973077  0.997099  0.983841  0.997099
1304         0.556544  0.528662  0.666662  0.528662
1305         0.126784  0.088729  0.097426  0.088729
1306         0.975777  0.998968  0.987313  0.998968
1307         0.040566  0.000987  0.019050  0.000987
1308         0.126784  0.088729  0.097426  0.088729
1309         0.195626  0.303658  0.268667  0.303658

[418 rows x 4 columns]